<div class="row border rounded m-4" style="min-height: 100px;">
    <div class="col-2 mt-2">
        <img src="assets/user.png" class="img-fluid border rounded-circle p-0" style="height: 60px;" alt="">
    </div>
    <div class="col-10 mt-2">
        <div class="d-flex">
            <h4>@subash</h4>
            <p class="ms-auto">june 10</p>
        </div>
        <div class="row" style="font-size: 20px;">
            <p> Given an HTML document containing a element and the task is to change the content of alement with the
                help of JavaScript.</p>
        </div>
    </div>
</div>